﻿@using A3ManagervsUserLogin.Models

@model Invoice

@{
    //i don't do this if i want to make this page dynamic
    //ViewBag.Title = "Index";
}

@switch ((String)ViewBag.fromWhere)
{
    case "Index":
        //change title name
        ViewBag.Title = "Add To Invoice";
        //change the button display value to be rellated to the it's role for this title
        ViewBag.buttonValue = "Add Invoice";
        break;

    case "managerAdd":
        //chnage title name
        ViewBag.Title = "Manager's Add To Invoice";
        //change the button display value to be rellated to the it's role for this title
        ViewBag.buttonValue = "Add Invoice for Manager";
        break;
}
<h2>@ViewBag.Title</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Client Name</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger"})
        </div>

        <div class="form-group">
            <label>Client Address</label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control"})
            @Html.ValidateMessageFor(m => m.Address, new { @class = "form-control"})
        </div>

        <div class="form-group">
            <label>Shipment</label>
            @Html.TextBoxFor(m => m.Shipment, new { @class = "form-control"})
            @ValidateMessageFor(m => m.Address, new { @class = "form-control"})
        </div>

        <div class="form-group">
            <label>Due Date</label>
            @Html.TextBoxFor(m => m.DueDate, new { @class = "form-control"})
            @ValidateMessageFor(m => m.DueDate, new {  @class = "form-control"})
        </div>

        <div class="form-group">
            <label>Product Name</label>
            @Html.TextBocFor(m => m.ProductName, new { @class = "form-control"})
            @ValidateMessageFor(mbox => m.ProductName, new { @class = "form-control"})
        </div>
        <div class="form-group">
            <label>Product Quantity</label>
            @Html.TextBoxFor(m => m.ProdQuantity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ProdQuantity, "", new { @class = "text-danger" })
        </div>

         <div class="form-group">
            <label>Unit Price</label>
            @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UnitPrice, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Currency</label>
            @Html.EnumDropDownListFor(m => m.Currency, "Please select a currency", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Currency, "", new { @class = "text-danger" })
        </div>

        @if (ViewBag.fromWhere == "managerAdd")
        {
            <div class="form-group">
                <label>Taxes</label>
                @Html.TextBoxFor(mbox => m.SubTotal, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(mbox => m.SubTotal, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Taxes</label>
                @Html.TextBoxFor(m => m.Tax, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Tax, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Total</label>
                @Html.TextBoxFor(m => m.Total, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Total, "", new { @class = "text-danger" })
            </div>
        }

        <input type="submit" name=@ViewBag.fromWhere value=@ViewBag.fromWhere class="btn btn-success" />

        if (ViewBag.fromWhere == "managerAdd")
        {
            //@Html.HiddenFor(m => m.Paid,"")
            <input type="submit" name=@ViewBag.fromWhere value=@ViewBag.fromWhere formaction="/PageChange/ToManagerAdd" class="btn btn-danger" />
        }

    }

</div>



