﻿
@{
    ViewBag.Title = "Receivable";
}

<h2>Receivable</h2>




@using A3ManagervsUserLogin.Models
@model InvoiceContext

@{
    ViewBag.Title = "Receivables";
}

<h2>Receivables</h2>

<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th class="text-center col-xs-1">ID</th>
                <th>Client Name</th>
                <th class="text-right">Total</th>
                <th class="text-center">Payment Due</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="text-left text-danger">Total Receivables: </th>
                
                <th></th>
                <td class="text-center">
                    @using (Html.BeginForm("ToManagerAdd", "PageChange", FormMethod.Get))
                    {
                        <input type="submit" class="btn btn-success" value="Add Invoice" />
                    }
                </td>

            </tr>
        </tfoot>

    </table>
</div>

