﻿<!--i need this empty model os i can use it to validate the user's input-->
@model A3ManagervsUserLogin.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<!--check temporary data-->
@if (TempData[MvcApplication.TEMP_OBJ_ERRMSG] != null)
{
    <div class="alert alert-danger">@TempData[MvcApplication.TEMP_OBJ_ERRMSG]</div>
}

    <div>
        <!--creates a form for user to pass inputs through-->
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>User Name</label>
                <!--present textbox for user/manager to give us his/her username-->
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Password</label>
                <!--present textbox for user/manager to give us his/her password-->
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <input type="submit" name="LoginingIn" value="User Login" class="btn btn-success" />
            <input type="submit" name="LoginingIn" value="Manager Login" class="btn btn-warning" />
        }
    </div>
